html, body {
  height: 100%;
}

body {
  background-color: #07b189;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
}

header {
  background-color: #117378;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #002739;
  flex-grow: 0;
  height: auto;
}

.wrapper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

#header-logo {
  max-width: 45px;
  width: 100%;
  transform: rotate(90deg);
}

#nav-toggle {
  color: #00273a;
  background: rgba(0,0,0,0);
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

#nav-toggle:before {
  content:'\2630'; /* hamburger icon unicode */
}

header a {
  text-decoration: none;
  font-weight: 500;
  color: white;
}

header a:hover {
  text-decoration: underline;
}

header #nav-toggle {
  display: none;
}

header nav {
  position: initial;
}

header nav ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

header nav li {
  list-style-type: none;
  font-size: 1.25rem;
  margin-left: 1.5rem;
}

#hero {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid #002739;
}

#hero-image {
  background-image: url('../images/hero.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  transform: scale(1.25);
  height: 100%;
}

#hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  background-color: rgba(0, 39, 57, 0.75);
  color: #fff;
  text-align: center;
  padding: 50px 25px;
  border: 2px solid #fff;
}

#hero-text p {
  font-size: 1.2rem;
}

main {
  flex-grow: 1;
  overflow: auto;
}

main section {
  margin: 50px auto 0;
}

main section h2 {
  font-size: 2rem;
  color: #fff;
}

main section p, main section li {
  font-size: 1.15rem;
  line-height: 1.6rem;
  color: rgb(0, 39, 57);
}

#services ul {
  column-count: 3;
}

#services li {
  list-style-type: none;
  border: 1px solid #002739;
  padding: 10px;
  text-align: center;
}

#services li:hover {
  color: #fff;
  background-color: #002739;
  cursor: default;
}

footer {
  flex-grow: 0;
}















